<template>
    <div>
        <div class="container">
            <div class="py-5">
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="card card-default">
                            <div class="card-header">
                                Login
                            </div>
                            <div class="card-body">
                                <form action="" method="post" @submit.prevent="login()">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" v-model="loginForm.email" class="form-control" placeholder="email" :class="{ 'is-invalid': loginForm.errors.has('email') }">
                                        <has-error :form="loginForm" field="email"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" v-model="loginForm.password" class="form-control" placeholder="password" :class="{ 'is-invalid': loginForm.errors.has('password') }" >  
                                        <has-error :form="loginForm" field="password"></has-error>                                       
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" :disabled="loginForm.busy" class="btn btn-success px-4">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'

export default {
    data(){
        return {
            loginForm: new Form({
                email: 'admin@gmail.com',
                password: 'password',
            }),
            uid:''
        }
    },
    methods: {
          async login(){ 
            await axios.get('/sanctum/csrf-cookie')
            await this.loginForm.post('/api/user_login').then(res => {
                
                if(res.data.status === 200){
                    localStorage.setItem('token', res.data.token);
                    localStorage.setItem('username', res.data.username);
                }
                this.uid = res.data.user_id;
                
            })

            this.$toast.success({
                title:'Success!',
                message:'Welcome, Dear!'
            });

            await this.getUserData(this.uid);

            await this.$router.push({ name: 'dashboard' });
            //await this.getUserData(uid);

            

        },
        async getUserData(id){ console.log(id);
            await axios.post('/api/user',{id:id}).then(response => {
                let user = response.data;
                this.$store.commit('SET_USER', user);
                this.$store.commit('SET_AUTHENTICATED', true);
                localStorage.setItem("auth", true);
                if(response.data.role_as == 1){
                    this.$store.commit('IS_ADMIN', true);
                    localStorage.setItem("auth_admin", true);
                }else{
                   this.$store.commit('IS_ADMIN', false);
                    localStorage.setItem("auth_admin", false); 
                }
            });
        }
    },
    mounted(){ 
        
    }
}
</script>

<style>

</style>
